body {
    font-family: Arial, sans-serif;
    background-size: cover;
    text-align: center;
    color: #000;
}

h1 {
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: left;
}

h3 {
    font-size: 20px;
    color: salmon;
    font-style: italic;
    font-family: 'Arial', sans-serif;
    text-align: left;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    margin: 0 auto;
    max-width: 1070px;
    text-align: center;
}

.card-header {
font-size: 28px; 
font-family: 'Your Selected Font', sans-serif;
}
.card {
    border: 1px solid #000;
    border-radius: 10px;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-control {
    border: 2px solid black;
    border-radius: 5px;
    font-size: 18px;
    background: transparent;
    color: #000;
}

.form-control::placeholder {
    color: #ccc;
}

.btn-primary {
    background: linear-gradient(to bottom, #FF5746, #FF6F61);
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 20px;
    color: white;
}

.btn-primary:hover {
    background: linear-gradient(to bottom, #FF6F61, #FF5746);
    color: black;
}

.form-group label {
    font-weight: bold;
}

.left-image {
    float: left;
    width: 25%;
    mix-blend-mode: multiply;
}

.text-center {
    color: salmon;
    font-size: 19px;
}

.text-bottom {
    color: black;
    font-size: 17px;
}